<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Matrix.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Matrix.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <Matrix.Wpf.Properties.Settings>
            <setting name="PayPalLink" serializeAs="String">
                <value>https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=KMEF64NDDEZ5L</value>
            </setting>
            <setting name="FileServerPath" serializeAs="String">
                <value>http://cdn.militaryaiworks.com/matrix</value>
            </setting>
            <setting name="WebServerPath" serializeAs="String">
                <value>https://militaryaiworks.com/matrix</value>
            </setting>
        </Matrix.Wpf.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Matrix.Wpf.Properties.Settings>
            <setting name="InstallPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsInstalledGlobalLibraries" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInstalledRegionAfrica" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInstalledRegionAsia" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInstalledRegionEurope" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInstalledRegionNA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInstalledRegionOceania" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInstalledRegionSA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="versionGlobalLibraries" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="versionRegionAfrica" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="versionRegionAsia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="versionRegionEurope" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="versionRegionNA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="versionRegionOceania" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="versionRegionSA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManualInstallation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </Matrix.Wpf.Properties.Settings>
    </userSettings>
</configuration>
